<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{{ ','.join(post.key_words) }}">
    <meta name="description" content="{{ post.description }}">
    <title>{{ post.title }}</title>

    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>

<header>
    <h1 class="header-item" href="/">Demo Website</h1>

    <form class="header-item">
        <input aria-label="search" placeholder="search...">
    </form>
</header>

<main>

    <div class="wrapper">
        <img class="wrapper-cover" alt="{{ post.thumbnail_alt }}" src="{{ post.thumbnail_url }}">
        <h1 class="wrapper-title">{{ post.title }}</h1>
    </div>

    {% for picture in post.json.picture %}
    <div class="picture">
        <img arc="{{picture.img}}" alt="{{picture.alt}}">
        <p>{{picture.summary}}</p>
    </div>
    {% endfor %}

</main>

<footer></footer>

<link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/styles/base16/one-light.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/highlight.min.js" type="text/javascript"></script>

<link href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.4/katex.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.4/katex.min.js" type="text/javascript"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.4/contrib/auto-render.min.js" type="text/javascript"></script>

<script src="/js/all.js" type="text/javascript"></script>
</body>
</html>