<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/styles/base16/one-light.min.css">
    <script type='text/x-mathjax-config'>
        MathJax.Hub.Config({
            showProcessingMessages: false,
            showMathMenu: false,
            tex2jax: {
                inlineMath: [['$', '$']],
                displayMath: [['$$', '$$']],
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code', 'a']
            },
            CommonHTML: {linebreaks: {automatic: true}},
            'HTML-CSS': {linebreaks: {automatic: true}},
            SVG: {linebreaks: {automatic: true}}
        })
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_SVG'></script>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/directory.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<header>
    <h1 class="header-item" href="/">Demo Website</h1>

    <form class="header-item">
        <input aria-label="search" placeholder="search...">
    </form>
</header>

<main>

    <p>
    {% for key_word in root.key_words %}
       {{ key_word }},
    {% endfor %}
    </p>

    <p>{{ root.description }}</p>

    <p>
    {% for key_word in site.key_words %}
       {{ key_word }},
    {% endfor %}
    </p>

    <p>{{ site.description }}</p>

    <div class="wrapper">
    {% for post in root.all_posts %}
        <a class="wrapper-item" href="{{ post.url }}" title="{{ post.title }}" target="_blank">
            <img class="wrapper-item-cover" src="{{ post.cover_url }}"  alt="{{ post.cover_title }}"/>
            <span class="wrapper-item-title">{{ post.title }}</span>
        </a>
    {% endfor %}
    </div>

    <div class="navbar">
    {% for directory in root.child_node %}
        <a class="navbar-item" href="{{ directory.url }}" title="{{ directory.name }}">{{ directory.name }}</a>
    {% endfor %}
    </div>

</main>

<footer></footer>

<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>