<!DOCTYPE html>
<html lang="zn" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/styles/base16/one-light.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/post.css">
    <style>
        .post {
            padding: 5rem calc(50% - 32rem);
            max-width: 64rem;
            overflow-x: auto;
        }
        p {
            word-break: break-all;
            text-align: justify;
        }
    </style>
</head>
<body>

<header>
    <h1 class="header-item" href="/">Demo Website</h1>

    <form class="header-item">
        <input aria-label="search" placeholder="search...">
    </form>
</header>

<main>

    <div class="wrapper">
        <img class="wrapper-cover" alt="{{ post.thumbnail_alt }}" src="{{ post.thumbnail_url }}">
        <h1 class="wrapper-title">{{ post.title }}</h1>
    </div>

    <div class="post">
        {{ post.html | safe }}
    </div>

</main>

<footer></footer>

<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" crossorigin="anonymous"></script>
</body>
<script>
    const katex_config = {
        delimiters:
            [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
    };
    renderMathInElement(document.body, katex_config);
</script>
</html>