<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/styles/base16/one-light.min.css">
    <script type='text/x-mathjax-config'>
        MathJax.Hub.Config({
            showProcessingMessages: false,
            showMathMenu: false,
            tex2jax: {
                inlineMath: [['$', '$']],
                displayMath: [['$$', '$$']],
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code', 'a']
            },
            CommonHTML: {linebreaks: {automatic: true}},
            'HTML-CSS': {linebreaks: {automatic: true}},
            SVG: {linebreaks: {automatic: true}}
        })
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_SVG'></script>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>

<header>
    <h1 class="header-item" href="/">Demo Website</h1>

    <form class="header-item">
        <input aria-label="search" placeholder="search...">
    </form>
</header>

<main>

    <div class="wrapper">
        <img class="wrapper-cover" alt="{{ post.cover_title }}" src="{{ post.cover_url }}">
        <h1 class="wrapper-title">{{ post.title }}</h1>
    </div>

    <div class="post">
        {{ post.html | safe }}
    </div>

</main>

<footer></footer>

<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>